@model ShoppingCart

<h2> Shopping Cart</h2>
<hr />

<table class="table table-bordered">
    <tr>
        <th> Vehicle</th>
        <th> Amount</th>
    </tr>

    @foreach (var item in Model.ShoppingCartItems)
    {
        <tr>
            <td class="text-left"> @(item.Vehicle.Model +" "+ item.Vehicle.Brand)</td>
            <td class="text-left"> @item.Amount</td>
            <td>
                <a asp-controller="ShoppingCart"
                   asp-action="RemoveFromShoppingCart"
                   asp-route-vinNo="@item.Vehicle.VinNo"
                   class="btn btn-primary">Remove</a>
            </td>
        </tr>
    }

    <tr>
        <th> Total</th>
        <th>@Model.GetShoppingCartTotal()</th>
    </tr>
</table>

<a asp-controller="Vehicle"
   asp-action="List"   
   class="btn btn-primary">Vehicle  List</a>